.Calendar {
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;

    > div {
      border: 1px solid #000;
    }
  }

  .header {
    text-align: center;
    margin-bottom: 2px;

    > div {
      background-color: #ccc;
    }
  }
}

.Day {
  color: #555;
  height: 140px;
  position: relative;
  padding: 2px;

  .date {
    font-size: .75rem;
    position: absolute;
    top: 2px;
    left: 2px;
  }

  .reminders {
    margin-top: 16px;
  }

  &.today {
    background-color: #dfdfdf;
    border: 2px solid #000 !important;
  }
}

.Reminder {
  color: #000;
  font-size: 0.7rem;
  padding: 2px 2px 2px 6px;
  margin-bottom: 1px;
  cursor: pointer;

  .when, .message { display: inline; }
  .when:after { content: ' - '; }
}
